/*About Me Styles*/

body {
  background-color: #7395ae;
}

.app {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.background {
  font-size: 20px;
  margin-top: 30px;
  line-height: 1.25em;
  font-family: 'Merriweather', serif;
  
}

.bio {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.career {
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Merriweather', serif;
  line-height: 1.25em;
}

.col {
  margin-top: 30px;
}

.education {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.linkedin {
  border-radius: 100%;
  height: auto;
  width: 100%;
  margin-left: 30px;
}

.unc {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

/*Portfolio Styles*/

.code-refractor {
  height: 300px;
  width: 400px;
  float: left;
}

.css-site {
  height: 300px;
  width: 400px;
  float: right;
}

.logo {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
@media screen and (max-width: 768px) {
  background-color: #333;
}

.css-site {
  width: 100%;
  padding: 20px;
}

.code-refractor {
  vertical-align: middle;
}

/*Contact Styles*/